/* Fonts */

@font-face {
  font-family: 'ITCKabelUltra';
  src: local('ITCKabelUltra'), url('./Fonts/font.woff');
}

/* Universal Selector */

* {
  box-sizing: border-box;
  font-family: ITCKabelUltra;
  margin: 0;
  padding: 0;
}

/* Background Image */

body {
  background-image: linear-gradient(
    45deg,
    hsl(344deg 85% 65%) 0%,
    hsl(335deg 83% 70%) 32%,
    hsl(2deg 91% 65%) 56%,
    hsl(15deg 89% 55%) 73%,
    hsl(14deg 86% 65%) 85%,
    hsl(0deg 79% 76%) 100%
  );
  margin: 1px;
}

/* Prevent Horizontal Scrolling */

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}

/* Navigation Menu */

.overlay {
  background-image: linear-gradient(
    45deg,
    hsl(344deg 85% 65%) 0%,
    hsl(335deg 83% 70%) 32%,
    hsl(2deg 91% 65%) 56%,
    hsl(15deg 89% 55%) 73%,
    hsl(14deg 86% 65%) 85%,
    hsl(0deg 79% 76%) 100%
  );
  display: none;
  height: 150%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

ul {
  left: 50%;
  position: absolute;
  top: 37.5%;
  transform: translate(-50%, -50%);
}

ul li {
  cursor: pointer;
  font-size: 26px;
  list-style-type: none;
  margin: 20px 0;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

ul li:hover {
  transform: translateX(-10px);
}

a {
  color: white;
  font-size: 50px;
  text-decoration: none;
}

.menu-btn {
  appearance: none;
  background: #fff;
  border: 0 none;
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 20px;
  z-index: 10;
}

.menu-btn:active,
.menu-btn:focus {
  outline: 0 none;
}

.menu-btn:before,
.menu-btn:after {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  width: 20px;
}

.menu-btn:before {
  transform: translateY(-6px);
}

.menu-btn:after {
  transform: translateY(4px);
}

/* Butterfly Image */

#butterfly__image {
  bottom: 5%;
  height: 100px;
  left: 0%;
  position: absolute;
  transform: rotate(45deg);
  z-index: -1;
}

/* Butterfly Image 2 */

#butterfly__image__2 {
  bottom: 77.5%;
  height: 100px;
  left: 85%;
  position: absolute;
  transform: rotate(-45deg);
  z-index: -1;
}

@media screen and (max-width: 1440px) {
  #butterfly__image__2 {
    bottom: 77.5%;
    left: 85%;
  }
}

@media screen and (max-width: 1024px) {
  #butterfly__image__2 {
    bottom: 85%;
    left: 80%;
  }
}

@media screen and (max-width: 768px) {
  #butterfly__image__2 {
    left: 70%;
  }
}

@media screen and (max-width: 480px) {
  #butterfly__image__2 {
    left: 65%;
  }
}

/* Flower Drawing Image */

#flower__drawing__image {
  left: 15%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -4;
}

@media screen and (min-width: 1441px) {
  #flower__drawing__image {
    height: 700px;
    width: 410px;
  }
}

@media screen and (max-width: 1440px) {
  #flower__drawing__image {
    height: 700px;
    width: 410px;
  }
}

@media screen and (max-width: 1024px) {
  #flower__drawing__image {
    height: 600px;
    width: 351px;
  }
}

@media screen and (max-width: 768px) {
  #flower__drawing__image {
    height: 500px;
    width: 293px;
  }
}

@media screen and (max-width: 480px) {
  #flower__drawing__image {
    height: 400px;
    width: 234px;
  }
}

/* Flower Image */

#flower__image {
  left: 85%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -4;
}

@media screen and (min-width: 1441px) {
  #flower__image {
    height: 700px;
    width: 498px;
  }
}

@media screen and (max-width: 1440px) {
  #flower__image {
    height: 700px;
    width: 498px;
  }
}

@media screen and (max-width: 1024px) {
  #flower__image {
    height: 600px;
    width: 427px;
  }
}

@media screen and (max-width: 768px) {
  #flower__image {
    height: 500px;
    width: 356px;
  }
}

@media screen and (max-width: 480px) {
  #flower__image {
    height: 400px;
    width: 285px;
  }
}

/* Text Clip Image */

#text__clip__text {
  height: 500px;
  left: 5px;
  position: absolute;
  top: -15px;
  width: 332px;
}

@media screen and (max-width: 768px) {
  #text__clip__text {
    height: 300px;
    left: 5px;
    top: -10px;
    width: 199px;
  }
}

/* Sparkles Image */

#sparkles {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -6;
}

@media screen and (min-width: 1025px) {
  #sparkles {
    height: 800px;
    width: 800px;
  }
}

@media screen and (max-width: 1024px) {
  #sparkles {
    height: 700px;
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  #sparkles {
    height: 600px;
    width: 600px;
  }
}

@media screen and (max-width: 480px) {
  #sparkles {
    height: 500px;
    width: 500px;
  }
}

/* Rosa Black and White Image */

#rosa__black__and__white {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

@media screen and (min-width: 1025px) {
  #rosa__black__and__white {
    height: 800px;
    width: 370px;
  }
}

@media screen and (max-width: 1024px) {
  #rosa__black__and__white {
    height: 700px;
    width: 323px;
  }
}

@media screen and (max-width: 768px) {
  #rosa__black__and__white {
    height: 600px;
    width: 277px;
  }
}

@media screen and (max-width: 480px) {
  #rosa__black__and__white {
    height: 500px;
    width: 231px;
  }
}

/* Rosa Image */

#rosa {
  left: 50%;
  position: absolute;
  top: 65%;
  transform: translate(-50%, -50%);
  z-index: -3;
}

@media screen and (min-width: 769px) {
  #rosa {
    height: 600px;
    width: 450px;
  }
}

@media screen and (max-width: 768px) {
  #rosa {
    height: 500px;
    left: 51%;
    top: 62%;
    width: 375px;
  }
}

/* X Image */

#x {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

@media screen and (min-width: 1025px) {
  #x {
    height: 800px;
    width: 714px;
  }
}

@media screen and (max-width: 1024px) {
  #x {
    height: 700px;
    width: 625px;
  }
}

@media screen and (max-width: 768px) {
  #x {
    height: 600px;
    width: 536px;
  }
}

@media screen and (max-width: 480px) {
  #x {
    height: 500px;
    width: 447px;
  }
}

/* Collage Photo Gallery Styling */

#collage__photo__gallery {
  border: 10px solid black;
  border-radius: 55px;
  margin-bottom: 50px;
  margin-top: 160px;
  max-width: 500px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  #collage__photo__gallery {
    margin-top: 110px;
  }
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Squibbles Picture */

#squibbles__photo {
  display: none;
  left: 50%;
  max-height: 1000px;
  max-width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Squibbles Picture 2 */

#squibbles__photo__2 {
  display: none;
  left: 50%;
  max-height: 1000px;
  max-width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

/* Flowers Picture 3 */

#flowers__3__image {
  filter: saturate(50%);
  display: none;
  left: 75%;
  max-height: 1000px;
  max-width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

/* Flowers Picture 4 */

#flowers__4__image {
  display: none;
  left: 25%;
  max-height: 1000px;
  max-width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

@media screen and (min-width: 1081px) {
  #squibbles__photo,
  #squibbles__photo__2 {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  #flowers__3__image,
  #flowers__4__image {
    display: block;
  }
}
