/* Fonts */

@font-face {
  font-family: 'ITCKabelUltra';
  src: local('ITCKabelUltra'), url('./Fonts/font.woff');
}

/* Universal Selector */

* {
  box-sizing: border-box;
  font-family: ITCKabelUltra;
  margin: 0;
  padding: 0;
}

/* Background Image */

body {
  background: url('./images/grainy-gradient-background-1.jpg') no-repeat center
    fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

/* Prevent Horizontal Scrolling */

html,
body,
#overflow__wrapper {
  overflow-x: hidden;
}

/* Text Clip Image */

#text__clip__image {
  height: 500px;
}

@media screen and (max-width: 768px) {
  #text__clip__image {
    height: 300px;
  }
}

/* Navigation Menu */

.overlay {
  background: url('./images/grainy-gradient-background-2.jpg') no-repeat center
    fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
  -webkit-background-size: cover;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

ul {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  cursor: pointer;
  font-size: 26px;
  list-style-type: none;
  margin: 20px 0;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

ul li:hover {
  transform: translateX(-10px);
}

a {
  color: white;
  font-size: 100px;
  text-decoration: none;
}

.menu-btn {
  appearance: none;
  background: #fff;
  border: 0 none;
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 20px;
  z-index: 10;
}

.menu-btn:active,
.menu-btn:focus {
  outline: 0 none;
}

.menu-btn:before,
.menu-btn:after {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  width: 20px;
}

.menu-btn:before {
  transform: translateY(-6px);
}

.menu-btn:after {
  transform: translateY(4px);
}

/* Butterfly Image */

#butterfly__image {
  bottom: 5%;
  height: 100px;
  left: 0%;
  position: relative;
  transform: rotate(45deg);
  z-index: -1;
}

/* Butterfly Image 2 */

#butterfly__image-2 {
  bottom: 80%;
  height: 100px;
  left: 91.5%;
  position: relative;
  transform: rotate(-45deg);
  z-index: -1;
}

@media screen and (max-width: 1440px) {
  #butterfly__image-2 {
    bottom: 77.5%;
    left: 85%;
  }
}

@media screen and (max-width: 1024px) {
  #butterfly__image-2 {
    bottom: 85%;
    left: 80%;
  }
}

@media screen and (max-width: 768px) {
  #butterfly__image-2 {
    left: 70%;
  }
}

@media screen and (max-width: 480px) {
  #butterfly__image-2 {
    left: 65%;
  }
}

/* Flower Drawing Image */

#flower__drawing__image {
  left: 15%;
  max-height: 800px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -4;
}

@media screen and (max-width: 1440px) {
  #flower__drawing__image {
    max-height: 700px;
  }
}

@media screen and (max-width: 1024px) {
  #flower__drawing__image {
    max-height: 600px;
  }
}

@media screen and (max-width: 768px) {
  #flower__drawing__image {
    max-height: 500px;
  }
}

@media screen and (max-width: 480px) {
  #flower__drawing__image {
    max-height: 400px;
  }
}

/* Flower Image */

#flower__image {
  left: 85%;
  max-height: 800px;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -4;
}

@media screen and (max-width: 1440px) {
  #flower__image {
    max-height: 700px;
  }
}

@media screen and (max-width: 1024px) {
  #flower__image {
    max-height: 600px;
  }
}

@media screen and (max-width: 768px) {
  #flower__image {
    max-height: 500px;
  }
}

@media screen and (max-width: 480px) {
  #flower__image {
    max-height: 400px;
  }
}

/* Emo Rosa Image */

#rosa__image {
  left: 50%;
  max-height: 900px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
}

@media screen and (max-width: 1440px) {
  #rosa__image {
    max-height: 800px;
  }
}

@media screen and (max-width: 1024px) {
  #rosa__image {
    max-height: 700px;
  }
}

@media screen and (max-width: 768px) {
  #rosa__image {
    max-height: 600px;
  }
}

@media screen and (max-width: 480px) {
  #rosa__image {
    max-height: 500px;
  }
}

/* Emo Rosa 2 Image */

#rosa__image__2 {
  left: 50%;
  max-height: 900px;
  position: relative;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

@media screen and (max-width: 1440px) {
  #rosa__image__2 {
    max-height: 800px;
  }
}

@media screen and (max-width: 1024px) {
  #rosa__image__2 {
    max-height: 700px;
  }
}

@media screen and (max-width: 768px) {
  #rosa__image__2 {
    max-height: 600px;
  }
}

@media screen and (max-width: 480px) {
  #rosa__image__2 {
    max-height: 500px;
  }
}

/* Xs Image */

#xs__image {
  left: 50%;
  max-height: 900px;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}
